html, body{
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
svg{
    background-color: whitesmoke;
    margin: 10px;
}
#legend {
    width: 700px;
    height: 100px;
}